.blob {
  width: 150px;
  height: 150px;
  border-radius: 58% 43% 33% 64% / 50% 38% 53% 50%;
  background: transparent;
  box-shadow:
    inset 6px 33px 20px 0 #c9c9c9,
    inset 20px 80px 15px 0 #e0e0e0,
    10px 20px 20px 0px #c9c9c9;
}

.blob::before,
.blob::after {
  content: '';
  background: white;
  position: absolute;
}
  
.blob::before {
  width: 50px;
  height: 15px;
  border-radius: 37% 54% 46% 46%;
  top: 20px;
  left: 20px;
  transform: rotate(-30deg);
}

.blob::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 60px;
  left: 20px;
}
